@(message: String)

@main("Welcome to Play 2.1") {

     <div id="container"></div>

 <div id="info">
   <strong><a href="http://www.zenexity.com">Bitcoin Globe</a></strong> <span class="bull">&bull;</span> Created by the Cool Kids @@ Zenexity.com <span class="bull">&bull;</span> Data acquired from <a href="http://blockchain.info">Blockchain.info</a>
 </div>

  <div id="title">
    Zencoin
  </div>

  <div id="sounds">
    <script>
      var big_snd = new Audio('@routes.Assets.at("sounds/big.mp3")'); //
      var small_snd = new Audio('@routes.Assets.at("sounds/small.mp3")');
      var tiny_snd = new Audio('@routes.Assets.at("sounds/tiny.mp3")');
      var medium_snd = new Audio('@routes.Assets.at("sounds/medium.mp3")');
      big_snd.play();
    </script>
  </div>

  <div class="last-transaction" style="bottom: 15px;left: 20px;position:absolute">
    Last transaction:
    <span id="last-transaction"></span>
  </div>

  <script type="text/javascript" src="@routes.Assets.at("javascripts/third-party/Three/ThreeWebGL.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/third-party/Three/ThreeExtras.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/third-party/Three/RequestAnimationFrame.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/third-party/Three/Detector.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/third-party/Tween.js")"></script>
  <script type="text/javascript" src="@routes.Assets.at("javascripts/globe.js")"></script>
  <script type="text/javascript">

    if(!Detector.webgl){
      Detector.addGetWebGLMessage();
    } else {

      var container = document.getElementById('container');
      var globe = new DAT.Globe(container);

      var settime = function(globe) {
        new TWEEN.Tween(globe).to({time: 0},500).easing(TWEEN.Easing.Cubic.EaseOut).start();
      };

      new TWEEN.Tween(globe).easing(TWEEN.Easing.Cubic.EaseOut).start();

      var xhr;
      TWEEN.start();

      var startVisualization = function() {
        globe.clearData();
        globe.animate();
      };

      


      var updateGlobe = function(data) {
        window.data = data;
      //	globe.clearData();

        globe.addData(data, {format: 'magnitude', animated: true});
      	globe.createPoints();
        globe.animate();
      }

      // xhr = new XMLHttpRequest();
      // xhr.open('GET', '@routes.Assets.at("data/population909500.json")', true);
      // xhr.onreadystatechange = function(e) {
      //   if (xhr.readyState === 4) {
      //     if (xhr.status === 200) {
      //       updateGlobe([41,63,0.084,41,63,0.091]);
      //       updateGlobe(JSON.parse(xhr.responseText));
      //     }
      //   }
      // };
      // xhr.send(null);
      startVisualization();
      
    }




  </script>

    <script>
    function stream() {
        var evtSource = new EventSource("/realtime");

        evtSource.addEventListener("open", function(e) {
            console.log(JSON.stringify(e))
        })

        evtSource.addEventListener("message", function(e) {
            var tx = JSON.parse(e.data);
            var btc_amount = tx.value / 100000000;
            // var amount = Math.log(btc_amount) / 3;
            // if (amount > 1) { amount = 1; } else if (amount < 0.01) { amount = 0.1}

            var amount = 1-(100/(btc_amount + 100));

            $("#last-transaction").html("฿ " + btc_amount + " ( ~ € "+ Math.ceil(btc_amount * 10500)/100+ " )");
            var play_snd;
            if(amount > 200) { big_snd.play(); }
            else if (amount < 200 && amount > 100 ) { medium_snd.play(); }
              else { small_snd.play(); }
            console.log(amount);
            medium_snd.play();
            updateGlobe([tx.latitude, tx.longitude, amount]);
        }, false);

        return evtSource;
    }
    stream()
    </script>
}
